@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Kaushan Script', cursive;
}

/* header */
header {
    background-image: url(img/header.jpg);
    height: ;
}